---
import MainGridLayout from "../layouts/MainGridLayout.astro";
import GHProxy from "../components/GHProxy.svelte";

export const prerender = true;
---
<MainGridLayout title="GitHub 反代" description="GitHub 反代链接生成器">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <GHProxy client:only="svelte" />
    </div>
</MainGridLayout>