---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. 版权所有
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        语言：
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> 
        上游
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
        <br>
        本站由
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://vercel.com">vercel</a>
        &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.huaweicloud.com/">huawei cloud</a>
        &
        <a class="transition link text-[var(--primary)] font-medium inline-flex items-center" href="https://idc.xmgod.site/aff/BPBABFOX" target="_blank"><img alt="" src="https://idc.xmgod.site/upload/logo.png" class="h-4 mr-1">橡木云cdn</a>
        强力驱动
        <br />
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://icp.gov.moe/?keyword=20251216">萌ICP备20251216号</a>
        <br />
        本站大部分主题或页面代码来自于
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://blog.acofork.com">B站二叉树树</a>
        和
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://fuwari.oh1.top">yCENzh</a>
        感谢大佬的代码！
        <br />
    </div>
</div>
